<div class="panel-body">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Loja</th>
                <th>Saldo Total</th>
            </tr>
        </thead>
        <tbody>
            <% @saldo_por_loja.each do |loja| %>
                <tr>
                    <td><%= loja.first %></td>
                    <td><%= loja.last %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>